@model IEnumerable<BlogPost>

@{
    ViewData["Title"] = "Blog";
}

<h1 class="display-4">Blog</h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Nickname</th>
      <th scope="col">Title</th>
      <th scope="col">Summary</th>
      <th scope="col">Content</th>
      <th scope="col">Time</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
  @foreach (var blogpost in Model) {
    <partial model="@blogpost" name="_PostPartial"/>
  }
</table>

